

	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h1">Gestor Cuentas Bancarias</span> 
			<span class="navbar-brand mb-0 h3"> 
				<box-icon type='solid' name='user-circle' color='white'></box-icon>
				${sessionScope.usuario.getNombre()}
			</span> 
			<span class="navbar-brand mb-0 h3"><a href="AutenticarController?ruta=salir">
					<box-icon name='log-out-circle' color='white'></box-icon>Salir
			</a></span>
		</div>
	</nav>
		<div class="wrapper">